body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-calendar-heatmap .g-1 {
  fill: #00FF7F;
}
.react-calendar-heatmap .g-2 {
  fill: #006400;
}

.react-calendar-heatmap .r-1 {
  fill: #F08080;
}

.react-calendar-heatmap .r-2 {
  fill: #e41e1e;
}
